# Ignore everything in Downloads by default
*

# Except the site files
!.gitignore
!README.md
!geometry_dash_levels.html
!index.html
!ads.txt
!elevator_game.html

# Allow screenshot images added for the site
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.webp
!*.avif
